{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <title>Agendar Consulta</title>
    <link rel="stylesheet" href="{% static 'css/agendar_consulta.css' %}">
</head>
<body>
    <div class="container">
        <h2>Agendar Consulta</h2>

        {% if alerta %}
            <div class="alerta">{{ alerta }}</div>
        {% endif %}

        {% if sucesso %}
            <div class="sucesso">{{ sucesso }}</div>
        {% endif %}

        <form method="post" novalidate>
            {% csrf_token %}
            {% for field in form %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <div class="alerta">{{ field.errors }}</div>
                {% endif %}
            {% endfor %}

            <div id="alerta-dinamico"></div>

            <button type="submit">Agendar</button>
        </form>

        <div id="info-sala"></div>
	<div id="consultas-dia" style="margin-top: 20px; font-size: 14px; background: #f1f1f1; padding: 15px; border-radius: 6px;"></div>

        <div class="voltar">
            <a href="{% url 'dashboard' %}">← Voltar ao Dashboard</a>
        </div>
    </div>

<script src="{% static 'js/agendar_consulta.js' %}"></script>


</body>
</html>
